.loadA {
    margin-top: 40vh;
    font-size: 23px;
    opacity: .8;
}

.loadA i {
    font-size: 45px;
}
.artBody{
    font-size: 16px;
    text-align: left;
    margin: 60px 20px;
    padding: 10px;
    overflow: auto;
    height: 80vh;
    font-weight: 400;
    line-height: 25px;
}
.artBody p{
    margin: 10px auto;
}
.artBody h1{
    font-size: 25px;
    line-height: 35px;
    padding: 2px 0px;
    padding-top: 10px;
}

.artBody h2{
    font-size: 20px;
    line-height: 35px;
    padding: 2px 0px;
}
.artBody a{
    color: blue !important;
    text-decoration: underline;
}
table, table tr, table td, table th{
    padding: 5px 2px;
    border-collapse: collapse;
    border: 1px solid black;
}
.editArt{
    border: 2px solid blue;
    border-radius: 20px;
    padding: 20px;
    outline: none;
}
.editArt *:hover,.editArt *:focus, .editArt *:active{
    border: 1px solid blue;
    border-radius: 5px;

}