

.logoLeft {
    width: 60px;
    display: none;
}

.topSign {
    display: flex;
    margin: 10px auto;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    padding: 5px;
    font-size: 22px;
    font-weight: 500;
}

.topSign p {
    flex-grow: 2;
    margin: 0px 30px;
}

.conSign {
    margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inputSign {
    margin: 20px 10px;
	width:90%;
	padding: 0px;
}

.inputSign label {
    display: block;
    position: relative;
    font-size: 18px;
    letter-spacing: .3px;
    transform: translateY(28px);
    transition: 1s;
    opacity: .8;
    color: inherit !important;
	width: 90%;
}

.inputSign .labelUp {
    transform: translateY(0px);
    font-size: 13px;
    opacity: 1;
}

.inputSign .keepColor {
    color: rgba(150, 80, 20, 1) !important;
    font-weight: 500;
}
 
.inputSign input {
    position: relative;
    font-size: 18px;
    width: 100%;
    max-width: 500px;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 3px 2px;
	padding-right: 0px;
    outline: none;
    letter-spacing: .5px;
    margin: 2px auto;
    transition: 1s;
}

.inputSign input:focus {
    border-bottom: 2px solid rgba(150, 80, 20, 1);
}

.inputBtn input {
    background: rgba(100, 50, 10, 1);
    border-radius: 20px;
    margin: 40px auto;
    padding: 5px;
}

.inputBtn input {
    color: white !important;
    border: none;
    font-weight: 500;
}

.inputBtn input:disabled {
    background: rgba(150, 100, 80, 1);
    font-weight: 400;
    opacity: .5;
}

#signUpP {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: space-around;
    position: fixed;
    overflow: auto;
    background: linear-gradient(80deg, rgba(250, 250, 250, .051) 15%, rgba(250, 250, 0, .051) 30%, rgba(250, 0, 10, .051) 50%, rgba(0, 250, 250, .051) 95%) !important;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    transition: .8s;
    visibility: hidden;
    opacity: .6;
    z-index: 99;
    font-size: 18px;
    transform: translate(100vw, 0vh);
    scale: 1;
}
#signUpP.showSign{
	visibility: visible;
	transform: translate(0vw, 0vh);
	opacity: 1;
}
#signUpP .bySign {
    text-align: left;
    font-size: 13px;
    margin: 20px 0px;
    line-height: 20px;
    letter-spacing: .3px;
    width: 90%;
}

.inputBtn input:focus {
    border: none;
}

